<!-- app/views/lists/show.html.erb -->
<div class="banner position-relative">
  <img src="<%= asset_path('list-banner.png') %>" alt="Banner Image" class="w-100">
  <div class="banner-text position-absolute top-50 start-50 translate-middle text-center text-white bg-dark bg-opacity-50 p-2">
    <h1>Welcome to <%= @list.name %></h1>
  </div>
  <!-- Add movie form positioned inside the banner -->
  <div class="add-bookmark position-absolute top-50 end-0 translate-middle-y bg-light bg-opacity-75 p-3 rounded">
    <h4 class="mb-3">Add a Movie</h4>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie", class: "form-control-sm mb-2" %>
      <%= f.input :comment, class: "form-control-sm mb-2" %>
      <%= f.submit "Add", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>
</div>

<div class="container mt-3">
  <h1 class="mt-3"><%= @list.name %></h1>

  <!-- Displaying the list details -->
  <div class="list-details mb-3">
    <p><strong>List Name:</strong> <%= @list.name %></p>
  </div>

  <!-- Section for Bookmarks -->
  <div class="bookmarks">
    <h2>Bookmarks</h2>

    <% if @list.bookmarks.any? %>
      <div class="row">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="col-md-4 mb-3">
            <div class="card d-flex flex-column h-100">
              <% if bookmark.movie.poster_url.present? %>
                <%= image_tag bookmark.movie.poster_url, alt: bookmark.movie.title, class: "card-img-top movie-poster" %>
              <% end %>
              <div class="card-body d-flex flex-column">
                <h5 class=""><strong><%= bookmark.movie.title %></strong></h5>
                <p class="card-text">
                  <strong>Title:</strong> <%= bookmark.movie.title %><br>
                  <strong>Overview:</strong> <%= bookmark.movie.overview %><br>
                  <strong>Rating:</strong> <%= bookmark.movie.rating %><br>
                  <strong>Comment:</strong> <%= bookmark.comment %>
                </p>
                <div class="delete">
                  <%= link_to 'Delete Bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p>No bookmarks yet.</p>
    <% end %>

    <div class="mt-3">
      <%= link_to 'Back to Lists', lists_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
